* {
    font-family: Roboto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: indigo;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 360px;
    border-radius: 10px;
    border: 3px solid;
    border-color: black;
    background-color: rgb(37, 37, 37);
    filter: drop-shadow(5px 5px 5px black);
}

#screen {
    margin: 30px;
    padding: 15px 15px;
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 0 0 100%;
    box-shadow: inset 0px 0px 3px 3px black;
}

#preview {
    height: 25px;
    text-align: right;
    font-size: 25px;
}

#display {
    height: 60px;
    text-align: right;
    font-size: 60px;
}

#buttons {
    margin: 30px;
    margin-top: 0px;
    display: flex;
}

button {
    font-size: 30px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    filter: drop-shadow(3px 3px 3px black);
}

#left-buttons {
    display: flex;
    flex-direction: column;
    flex: 3;
}

#operator-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#delete-buttons {
    display: flex;
}

.row {
    display: flex;
}

.num {
    flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
    background-color: gray;
}

.num.zero {
    flex-grow: 2.65;
}

.op {
    background-color: rgb(173, 173, 173);
}

.del {
    background-color: rgb(136, 91, 91);
}

.equals {
    background-color: rgb(131, 119, 97);
}

#clear {
    flex-grow: 3;
    font-size: 30px;
    font-weight: bold;
}

#back {
    flex-grow: .6;
    font-size: 30px;
    font-weight: bold;
}